# Python
__pycache__/
*.py[cod]
.venv/

# IDE
.vscode/
.idea/

# Project specific
*.log
.DS_Store
.env*

# Ignore all files in the filteredcontent and rawingestionfolder directories
filteredcontent/
rawingestionfolder/
scraped.db
keywords.txt